.group:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.input-focus {
  outline: 2px solid black;
  outline-offset: -2px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.group:hover .group-hover\\:opacity-100 {
  opacity: 1;
}

.group:hover .group-hover\\:scale-110 {
  transform: scale(1.1);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Shimmer */
shimmer-card {
  @apply w-64 h-72 m-5 bg-gray-200 relative overflow-hidden rounded-lg;
}

.shimmer-card::after {
  content: '';
  @apply absolute top-0 left-0 w-full h-full bg-gradient-to-r from-gray-200 via-gray-300 to-gray-200;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}